body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}
.wrapper {
  background-color:rgb(17, 17, 88);
  border-radius: 1000px;
  align-items: center;
}
.contactBox{
  font-size: 20px;
}
img {
  max-width: 45vh;
  padding: 5vh;
  background-color: #152241;

  border-radius: 1000px;
 
}
.resume {
font-size: 15vh;
}
.float-child {
  width: 50%;
  float: left;
  padding: 20px;
  border: 15px solid #242830;
  background-color: rgb(17, 17, 88);
}
.paraGra {
  border: 15px solid #242830;
  width: 100%;
  background-color: rgb(2, 2, 167);
}